modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8661200278:AAFiIkvP-twQK_fU0mIsvcP3udpEN9Nuhp8"
OXAPAY_API_KEY = "SFY4IR-6GW5ZQ-VQSEWF-BBKHOB"
ADMIN_TELEGRAM_ID = "2139807311"
TON_WALLET = "UQDqFSJ_gNtlwbRPmoJmEbJ4yxomqJNSJzDWdI6Dg-pQRNzL"
LOG_CHANNEL = "@raizologs"
BOT_USERNAME = "RaizoPvPBot"

[nix]
channel = "stable-25_05"
